<div id="header">
    <h1 class="logo"><a href="#"></a></h1>
    <a id="cart-info" href="#">Shopping Cart<span><span>0</span> items</span></a>
</div>
<div id="main-section">
    <section id="content">
        <div>
            <ul data-role="listview" data-bind="source: items" data-template="item" id="main" class="k-widget k-listview" role="listbox">
                <li class="products" data-uid="16376089-f7bf-4dd8-ae0e-d77bda76052b" role="option" aria-selected="false">
                    <a class="view-details" href="http://demos.telerik.com/kendo-ui/websushi/#/menu/1">
                        <img class="main-image" src="~/Images/200/sashimi-salad.jpg" alt="Sashimi salad" title="Sashimi salad">
                        <strong data-bind="text: name">Sashimi salad</strong>
                        <span class="price"><span>$</span><span data-bind="text: price">12</span></span>
                    </a>
                    <button class="add-to-cart" data-bind="click: addToCart">Add to cart</button>
                </li>

                <li class="products" data-uid="82d687bc-6b62-490a-bfe0-af42e53afb4a" role="option" aria-selected="false">
                    <a class="view-details" href="http://demos.telerik.com/kendo-ui/websushi/#/menu/2">
                        <img class="main-image" src="~/Images/200/chirashi-sushi.jpg" alt="Chirashi sushi" title="Chirashi sushi">
                        <strong data-bind="text: name">Chirashi sushi</strong>
                        <span class="price"><span>$</span><span data-bind="text: price">21</span></span>
                    </a>
                    <button class="add-to-cart" data-bind="click: addToCart">Add to cart</button>
                </li>

                <li class="products" data-uid="5b95a90a-ed51-4075-9d7c-243652579cd7" role="option" aria-selected="false">
                    <a class="view-details" href="http://demos.telerik.com/kendo-ui/websushi/#/menu/3">
                        <img class="main-image" src="~/Images/200/seaweed-salad.jpg" alt="Seaweed salad" title="Seaweed salad">
                        <strong data-bind="text: name">Seaweed salad</strong>
                        <span class="price"><span>$</span><span data-bind="text: price">17</span></span>
                    </a>
                    <button class="add-to-cart" data-bind="click: addToCart">Add to cart</button>
                </li>

                <li class="products" data-uid="e67cda16-3963-4fdc-8b35-57c6bf0674d0" role="option" aria-selected="false">
                    <a class="view-details" href="http://demos.telerik.com/kendo-ui/websushi/#/menu/4">
                        <img class="main-image" src="~/Images/200/edamame.jpg" alt="Edamame" title="Edamame">
                        <strong data-bind="text: name">Edamame</strong>
                        <span class="price"><span>$</span><span data-bind="text: price">4</span></span>
                    </a>
                    <button class="add-to-cart" data-bind="click: addToCart">Add to cart</button>
                </li>

                <li class="products" data-uid="3d092c74-2fdd-4ab0-9451-b29fdf482c2c" role="option" aria-selected="false">
                    <a class="view-details" href="http://demos.telerik.com/kendo-ui/websushi/#/menu/5">
                        <img class="main-image" src="~/Images/200/miso-soup.jpg" alt="Miso soup" title="Miso soup">
                        <strong data-bind="text: name">Miso soup</strong>
                        <span class="price"><span>$</span><span data-bind="text: price">4</span></span>
                    </a>
                    <button class="add-to-cart" data-bind="click: addToCart">Add to cart</button>
                </li>
            </ul>
        </div>
    </section>
</div>