<style>
    .table td.tdRight {
        text-align: right;
    }

    .table td.tdCenter {
        text-align: center;
    }

    .table-nonfluid {
        width: auto;
    }
</style>
<div id="checkout-top-image"></div>
<div id="details-checkout" ng-controller="checkoutController">
    <h1>Order Details</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody ng-hide="contents.length==0">
            <tr ng-repeat="item in contents">
                <td>
                    <div class="cart-image-wrapper"><img ng-src="/Images/200/{{item.product.Image}}" /></div>
                    <span class="product-name">{{item.product.Name}}</span>
                </td>
                <td>
                    <div class="input-append">
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input class="span3 text-center" type="tel"
                               ng-model="item.quantity"
                               ng-change="cart.saveItems()" />
                        <button class="btn btn-success" type="button"
                                ng-disabled="item.quantity >= 1000"
                                ng-click="cart.addItem(item.product, +1)">
                            +
                        </button>
                        <button class="btn btn-inverse" type="button"
                                ng-disabled="item.quantity <= 1"
                                ng-click="cart.addItem(item.product, -1)">
                            -
                        </button>
                    </div>
                </td>
                <td><p class="table-price">{{item.product.Price | currency}}<p></td>
            </tr>
        </tbody>
    </table>
    <p id="total-checkout"><em>total:</em><span data-bind="text: totalPrice"></span></p>
    <a class="cancel-order" href="#/">cancel order</a><button class="order-now">order now!</button>
</div>
<div id="checkout-bottom-image"></div>